#btnform {
  text-align: center;
  margin: auto;
  height: inherit;
  width: 1000px;
  margin-top: 20px;
}

.position-set
{
  position: relative;
  left: 5%;
}


#resultbtn
{
  width: 85px;
}

#favoritesbtn
{
  margin-left: 30px;
  border: 0;

}
