#street {
  height: 28px;
  width: 455px;
}

#city {
  height: 28px;
  width: 455px;
}

.streets
{
  position: relative;
  left: 90px;
}

.cities
{
  position: relative;
  left: 90px;
}

.font-type
{
  font-family: sans-serif;
}