#auto-detect-mark {
  height: inherit;
  margin-top: 5px;
  margin-left: 20px;
  float: left;
}

.checkbox {
  position: relative;
  top: 5px;
  right: 450px;
  float: right;
}

.detect-auto
{
  position: relative;
  left: 100px;
}

.font-style
{
  font-family: sans-serif;
}
